.mobile-navigation-section {

    position: fixed;
    top: 35%;
    right: 0%;
    background-color: $color-blue;
    border-top-left-radius:10px ;
    border-bottom-left-radius:10px;
    @include standartFlex(row, space-around, center);
    
    .icons {

        @include standartFlex(column, space-around, center);
        font-size: 2rem;

        .mobile-menu-button{
            padding-bottom: 0.5rem;
            background-color: transparent;
            border: none;
        }

        
        .icon{
            color: white;
        }

    }

   
    .navigation {
        
        display: none;

        li{
            padding-bottom: 1rem;
            margin-left: 0.5rem;
        }
        
    }

    .navigation.active{
        display: flex;
    }
}