.logo{

    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 1rem;

    &__image{
        max-width: 25%;
        height: auto;

    }

    &__text{
        max-width: 35%;
        height: auto;
    }
}